

.bgmain{
    background-color: #FCF9F3;
    min-height: auto;
   }

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bgwhite{
    background-color: white;
}

.lydochon {
    display: flex;
    align-items: center; 
    padding: 20px 0;
}


.lydochon h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: #00791C;
}

.lydochon_anh img{
    width: 500px;
    height: 500px;
    margin-right: 60px;
}


.lydochon_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.lydochon_item_con {
    width: 200px;
    display: flex;

}

.lydochon_item_con img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.lydochon_item_con p{
    margin: 0;
    line-height: 24px;
}

.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .scrollToTop:hover {
    background-color: #388E3C;
  }

@media screen and (max-width: 480px) {
    .lydochon{
        width:50%;
    }
    .lydochon img{
      display: none;
    }
    .lydochon_item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding:15px;
        
    }
    /* .lydochon_item img{
        width:30px;
        height:30px;
} */
    .lydochon_item_con h3{
        font-size:12px;
    }
    .lydochon_item_con p{
        font-size:12px;
        width:70%;
}
    .lydochon h1{
        font-size:25px;
        
        width:390px;
    }
}