

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.title h2 {
    text-align: center;
    color: #224229;
    margin: 15px 0;
}



.checkout {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
}

.order-summary, .info{
    width: 48%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: fit-content;

}

.editButton{
    background: #fff;
    color: #224229;
    border: 1px solid #224229;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.order-summary h3 {
    color: green;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.info h3 {
    color: green;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.info label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.info input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info textarea {
    height: 80px;
}


.total{
    /* color: green; */
    font-size: 16px;
    gap: 10px;
}

.total div{
    margin: 10px 0px;
}



.payment label {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .payment input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
  }
  
  .payment input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
  }
  
.payment .note {
    font-size: 12px;
    color: gray;
    margin-left: 20px;
}

.checkout-btn {
    width: 100%;
    background: green;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.checkout-btn:hover {
    background: darkgreen;
}

.item-info img{
    width: 80px;
    height: 80px;
}

.item-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.item-info p{
    margin: 0;
}

.item-info-name{
    width: 270px;
}

.grand-total span{
    font-size: 20px;
    font-weight: bold;
    color: green;
}

@media (max-width: 480px) {
    .checkout {
        flex-direction: column;
    }
  
    .info, .order-summary {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-top:10px;
    }

    .info h3 {
        font-size: 18px;
    }

    .checkout-btn {
        font-size: 14px;
        padding: 12px;
    }

     .order-summary p {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-summary p span {
        margin-top: 5px;
        font-weight: bold;
    } 

.item-info img{
    width: 80px;
    height: 80px;
}

.item-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.item-info p{
    margin: 0;
}

.item-info-name{
    width: 270px;
}

.grand-total span{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
}