


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bgmain{
    background-color: white;
    min-height: auto;
    padding: 20px 0;
   }
   
.title_prlike h2{
    text-align: center;
    font-size: 30px;
    color: #224229;
    margin: 0;
    margin-bottom: 20px;
}

.title_btnxt{
    position: absolute;
    right: 0%;
    margin-top: 28px;
    height: 35px;
    line-height: 35px;
    width: auto;
    text-align: center;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #00791C;
    border-radius: 50px;
}

.title_btnxt a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.title_btnxt i{
   display: none;
}

.title_btnxt:hover i{
    display: inline;
}

.title_btnxt:hover{
    background-color: #15351c;
    color: white;
}

.title_btnxt:hover a{
    color: white;
}




.title_name p{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #00791C;
    background-color: #00791C;
    color: white;
    width: 280px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 20px 0;
   
}

.title_name p::after{
    content: '';
    display: block;
    width: 919px;
    height: 3px;
    background-color: #00791C;
    margin-left: 280px;
    margin-top: -2.2px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    gap: 20px;
    justify-content: center; 
}

.product{
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 

}

.product:hover{
    transform: scale(1.05);
}


.product_img{
    overflow: hidden;
    width: 100%;
    height: 285px;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.product_img img{
    width: 100%;
    height: 285px;
    transition: transform 0.5s ease-in-out;

}

.product_img img:hover{
    transform: scale(1.3);
}



.product_info{
    padding: 0 15px;
}

.product_info p{
    font-size: 16px;
}
.product_info>p{
    margin: 0;
    padding: 5px 0;

}

.product_info>p:last-child{
    margin-bottom: 5px;
}


.product_price{
    color: #00791C;
}


.product_btn{
    position: absolute;
    top: 35%;
    left: 50%;  
    transform: translate(-50%, -35%);
    display: flex;
    flex-wrap: wrap;
}

.product_btn p{
    margin: 0px;

}

.pr_xemchitiet button{
color: white;
height: 50px;
width: 150px;
border-radius: 50px;
opacity: 0;
font-size: 16px;
font-weight: bolder;
background-color: #224229;
border-style: none;
margin-bottom: 5px;
cursor: pointer;
}

.pr_themvaogio button{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: #D97904;
border-style: none;
    opacity: 0;
    font-size: 16px;
font-weight: bolder;
cursor: pointer;
    }

.product:hover .pr_xemchitiet button, .product:hover .pr_themvaogio button{
    opacity: 1;
}

.pr_xemchitiet button:hover{
    background-color: #00791C;
   

}

.pr_themvaogio button:hover{
    color: white;
    background-color: #f29320;
    
}





.pr_tim{
right: 8px;
font-size: 25px;
color: white;
-webkit-text-stroke: 1px #224229;
position: absolute;
top: 4px;
}

.pr_tim:hover{
    color: red;
-webkit-text-stroke: 1px red;

}

.pr_view{
    position: absolute;
    margin-top: -22px;
    margin-left: 5px;
    font-size: 12px;
   

}

.pr_view p{
    display: inline;
    font-size: 12px;
}

.pr_thongbao{
    position: absolute;
    top: 0px;
    width: 50px;
    background-color: #53BD51;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px 0 0 0;
}

.pr_thongbao p{
    margin: 0px;
}

.btnxct{
    text-decoration: none;
    color: white;

}




@media screen and (max-width: 480px) {
    .products {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px 5px;
        
      }
    
      .product {
        max-width: 100%;
      }
      .product_img{
        height: auto;
      }
      .product_img img {
        height: auto;
      }
      .container {
        padding: 0px 10px;

    }
      .product_btn {
          flex-direction: column;
          top: 30%;
          transform: translate(-50%, -30%);
    
          width: 90%;
    
          justify-content: center;
          align-items: center;
          
        }
        .btnxct {
            font-size: 10px;
            line-height:16px;
             
        }
        .pr_xemchitiet button,
        .pr_themvaogio button {
          width:85px;
           
        height:30px;
          font-size: 10px;
          border-radius: 40px;
        }
       .pr_themvaogio button{
        font-size:10px;
        line-height:16px;
        width:85px;
       }
        .product_info p {
          font-size: 13px;
        }
    
      .product_price {
        font-size: 14px;
      }
    
  
  
    .title_name {
      width: 100%;
      padding: 10px 0;
    }
  
    .title_name p {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      padding: 0 8px;
    }
  
  
  
    .pr_tim {
      font-size: 20px;
      top: 6px;
      right: 6px;
    }
  
    .pr_thongbao {
      width: 40px;
      height: 25px;
      font-size: 12px;
      line-height: 25px;
    }
  
    
}